<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- start/stop bluetooth adapter -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- connect/disconnect bluetooth devices -->
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- to keep Bluetooth measurement running even when screen is inactive -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- allow saving screenshots -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- allow saving screenshots -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- allow access to WIFI adapter -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application
        android:allowBackup="true"
        android:description="@string/app_description"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Dark">
        <service
            android:name=".WorkerService"
            android:enabled="true"
            android:foregroundServiceType="connectedDevice|dataSync"
            android:exported="false">
        </service>
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name=".UsbDeviceListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/select_device" />
        <activity
            android:name=".BtDeviceListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/select_device" />
        <activity
            android:name=".ChartActivity"
            android:configChanges="touchscreen|orientation|screenSize"
            android:label="@string/chart" />
        <activity
            android:name=".DashBoardActivity"
            android:configChanges="touchscreen|orientation|screenSize"
            android:label="@string/dashboard" />
        <activity
            android:name=".SettingsActivity"
            android:configChanges="touchscreen|orientation|screenSize"
            android:label="@string/settings" />
        <activity
            android:name=".PidCustomization"
            android:configChanges="touchscreen|orientation|screenSize"
            android:label="@string/customize_display" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>